.app {
  font-family: sans-serif;
  background: url(Radiant-Gradient.svg);
  background-size: cover;
  background-position: center;
}

html, body, #root, .app {
  height: 100%;
}

.login {
  background: url(cat-back.png);
  background-position: top;
  background-size: cover;
  position:relative;
  height: inherit;
}

.login-content{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.welcome {
  padding: 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.467);
  font-weight: bold;
  font-size: 25px;
}

.nav-container {
  background-color: #EEEEBB;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 5px 5px;
  margin: 0px 0px 0px;
  list-style-image: url('paw.svg');
}

.nav li {
  list-style-position: inside;
}

.likes-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.loading {
  display: flex;
  justify-content: center;
}

.moments {
  list-style-image: url('cat-avatar.svg');
  padding: 5px 5px 5px;
  margin: 0px 0px 0px;
}

.moments li {
  list-style-position: inside;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px 5px;
  margin: 5px 0px 5px;
}

.moment-li-container {
  display: flex;
  justify-content: space-between;
}

.detail-container {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 5px 5px 5px;
  padding: 5px 5px 5px;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.author {
  font-style: italic;
}

.link {
  text-decoration: underline;
  color: blue;
}

.link:hover {
  cursor: pointer;
}

.post {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px;
  padding: 5px 5px 5px;
}

.post-form * {
  margin: 5px 0px 5px;
}

.label {
  font-weight: bold;
  font-size: 20px;
}

.input {
  border: 1px solid gray;
}

.status {
  background-color: indianred;
  color: white;
  padding: 5px 5px 5px;
}

img {
  height: 20px;
}